Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

reformat: adjust score_execution.py to use same style of internal service call
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_executions.py
Due: services, core

Removed extra print statement and Class call
  src/sasctl/_services/score_definitions.py
Due: services, core

Corrected status code comparisons
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

Pushing with all successful test cases
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

Fixed incorrect get_table syntax
  src/sasctl/_services/score_definitions.py
Due: services, core

fix: proper call to the object uri in modelManagement for score definitions
  src/sasctl/_services/score_definitions.py
Due: services, core

Fixed import statements
  src/sasctl/_services/score_definitions.py
Due: services, core

filter changed
  src/sasctl/_services/score_execution.py
Due: services, core

Fixed mapping issue in score_definitions
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

chore: fix spelling errors
  src/sasctl/_services/score_definitions.py
Due: services, core

chore: add score-definitions and score-execution service into services.py
  src/sasctl/services.py
Due: core

Adding frameworks for the rest of score_execution unit tests
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
Due: services, core

Adding proper return value for successfu; get_definition call
  tests/unit/test_score_execution.py
Due: none

Raised http error for failed delete API call
  src/sasctl/_services/score_execution.py
Due: services, core

tests: adjustment to score_execution tests
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
Due: services, core

tests: fix test_score_execution json reading error
  tests/unit/test_score_execution.py
Due: none

feat: change base score definition to use CAS Gateway
  src/sasctl/_services/score_definitions.py
Due: services, core

refactor: swap model_id to model for ease of use in argument choice
  src/sasctl/_services/score_definitions.py
Due: services, core

feat: add new task to score models in SAS Model Manager
  src/sasctl/tasks.py
Due: core

Added docstrings and removed list_executions unit tests in test_score_execution.py
  tests/unit/test_score_execution.py
Due: none

Added this to fix code quality linting error
  src/sasctl/tasks.py
Due: core

Edited test_score_definitions for syntax issue
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

black reformatting
  tests/unit/test_score_definitions.py
Due: none

checking black formatting
  tests/unit/test_score_definitions.py
Due: none

added cas gateway optional parameter
  src/sasctl/_services/score_definitions.py
Due: services, core

score testing example
  examples/score_testing_example.ipynb
  pzmm_binary_classification_model_import.ipynb
Due: none

Add files via upload
  pzmm_binary_classification_model_import.ipynb
Due: none

pushing correct version
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
Due: services, core

Use gateway with score_model_with_cas call
  src/sasctl/tasks.py
Due: core

updates to write_score_code to correct formatting errors
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

updates to model card example to include preprocessing function example
  examples/pzmm_generate_complete_model_card.ipynb
Due: none

black reformatting
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

black reformatting
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  src/sasctl/tasks.py
Due: services, core

fix: revert examples back to their state on the main branch
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier.pickle
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier.zip
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier2.pickle
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier2.zip
  examples/data/hmeqModels/DecisionTreeClassifier/ModelProperties.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_fitstat.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_lift.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_roc.json
  examples/data/hmeqModels/DecisionTreeClassifier/score_DecisionTreeClassifier.py
  examples/data/hmeqModels/DecisionTreeClassifier/score_DecisionTreeClassifier2.py
  examples/data/hmeqModels/GradientBoosting/GradientBoosting.pickle
  examples/data/hmeqModels/GradientBoosting/GradientBoosting.zip
  examples/data/hmeqModels/GradientBoosting/GradientBoosting2.pickle
  examples/data/hmeqModels/GradientBoosting/GradientBoosting2.zip
  examples/data/hmeqModels/GradientBoosting/ModelProperties.json
  examples/data/hmeqModels/GradientBoosting/dmcas_fitstat.json
  examples/data/hmeqModels/GradientBoosting/dmcas_lift.json
  examples/data/hmeqModels/GradientBoosting/dmcas_roc.json
  examples/data/hmeqModels/GradientBoosting/score_GradientBoosting.py
  examples/data/hmeqModels/GradientBoosting/score_GradientBoosting2.py
  examples/data/hmeqModels/RandomForest/ModelProperties.json
  examples/data/hmeqModels/RandomForest/RandomForest.pickle
  examples/data/hmeqModels/RandomForest/RandomForest.zip
  examples/data/hmeqModels/RandomForest/RandomForest2.pickle
  examples/data/hmeqModels/RandomForest/RandomForest2.zip
  examples/data/hmeqModels/RandomForest/dmcas_fitstat.json
  examples/data/hmeqModels/RandomForest/dmcas_lift.json
  examples/data/hmeqModels/RandomForest/dmcas_roc.json
  examples/data/hmeqModels/RandomForest/score_RandomForest.py
  examples/data/hmeqModels/RandomForest/score_RandomForest2.py
  examples/pzmm_generate_complete_model_card.ipynb
  examples/pzmm_regression_model_import.ipynb
Due: none

fix: remove double named files
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier2.pickle
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier2.zip
  examples/data/hmeqModels/DecisionTreeClassifier/score_DecisionTreeClassifier2.py
  examples/data/hmeqModels/GradientBoosting/GradientBoosting2.pickle
  examples/data/hmeqModels/GradientBoosting/GradientBoosting2.zip
  examples/data/hmeqModels/GradientBoosting/score_GradientBoosting2.py
  examples/data/hmeqModels/RandomForest/RandomForest2.pickle
  examples/data/hmeqModels/RandomForest/RandomForest2.zip
  examples/data/hmeqModels/RandomForest/score_RandomForest2.py
  examples/pzmm_generate_complete_mode_card.ipynb
Due: none

remove unneccessary folder from examples
  examples/data/hmeqModels/DTC_KPIs/dmcas_fitstat.json
Due: none

bring changelog in line with master branch
  CHANGELOG.md
Due: none

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

prep for release
  src/sasctl/__init__.py
Due: core

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
