Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

Adjust for multiclass handling wrt MM properties
  src/sasctl/pzmm/write_json_files.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

Add annotations and f-strings
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Add check for if code is being run in Jupyter notebooks
  src/sasctl/utils/misc.py
Due: utils, core

Only print outputs for Jupyter notebooks
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Add todo and move notebook_output
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Outputs only for jupyter notebooks
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Outputs for jupyter notebook only
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Improper use of typing.Optional function
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Type hinting for import_model.py
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Type hinting for write_json_files.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Type hinting for write_score_code.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Change sklearn model type to one that exists in Python 3.6
  tests/integration/test_write_json_files.py
Due: none

write_score_code.py integration tests and cassettes
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_202209.lzma
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_202209.swat.lzma
  tests/integration/cassettes/test_write_score_code.test_write_score_code.viya_202209.lzma
  tests/integration/cassettes/test_write_score_code.test_write_score_code.viya_35.lzma
  tests/integration/test_write_score_code.py
Due: none

doc string update + black reformatting
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

unit test fixes
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_import_model.py
  tests/unit/test_write_json_files.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Set up pathway for users to import models without generating score code
  src/sasctl/pzmm/import_model.py
  tests/unit/test_import_model.py
Due: pzmm, core

Black reformatting
  tests/integration/test_write_score_code.py
  tests/unit/test_model_info.py
Due: none

Proper bytes stream reading of in-memory zip file
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

pytorch sasctl example completed
  examples/register_pytorch_comp_vision.ipynb
Due: none

import_model integration test
  tests/integration/test_import_model.py
Due: none

Update model_parameters for type hint annotations and doc_string updates
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Adjust required arguments from user for model properties
  src/sasctl/pzmm/write_json_files.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

Update sphinx generated documents
  doc/_static/sas_logo.svg
  doc/_static/sasctl.css
  doc/_templates/autosummary/attribute.rst
  doc/_templates/autosummary/base.rst
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/member.rst
  doc/_templates/autosummary/method.rst
  doc/_templates/autosummary/minimal_module.rst
  doc/_templates/autosummary/module.rst
  doc/api/pzmm/import_model.rst
  doc/api/pzmm/mlflow_model.rst
  doc/api/pzmm/model_parameters.rst
  doc/api/pzmm/pickle_model.rst
  doc/api/pzmm/write_json_files.rst
  doc/api/pzmm/write_score_code.rst
  doc/api/pzmm/zip_model.rst
  doc/api/sasctl.pzmm.rst
  doc/api/sasctl.rst
  doc/api/sasctl.utils.pyml2ds.rst
  doc/conf.py
  doc/index.rst
  src/sasctl/_services/microanalytic_score.py
  src/sasctl/_services/sentiment_analysis.py
  src/sasctl/_services/text_categorization.py
  src/sasctl/_services/text_parsing.py
  src/sasctl/utils/misc.py
Due: services, utils, core

New sphinx theme for wiki
  .github/workflows/build-test-deploy.yml
Due: none

Sphinx build warnings
  src/sasctl/_services/concepts.py
  src/sasctl/core.py
  src/sasctl/utils/astore.py
  src/sasctl/utils/pymas/core.py
Due: services, utils, core

use model_info for sklearn
  src/sasctl/tasks.py
  src/sasctl/utils/model_info.py
  tests/conftest.py
  tests/unit/test_model_info.py
  tests/unit/test_tasks.py
Due: utils, core

Custom KPI Example
  examples/data/HMEQPERF_1_Q1.csv
  examples/data/HMEQPERF_2_Q2.csv
  examples/data/HMEQPERF_3_Q3.csv
  examples/data/HMEQPERF_4_Q4.csv
  examples/pzmmCustomKPIExample.ipynb
Due: none

Include varchar mapping for astore models #153
  src/sasctl/utils/astore.py
Due: utils, core

Allow DataStep or astore models to also include additional files when running register_model #156
  src/sasctl/tasks.py
Due: core

Relogic write score code for prediction, single-, and multi-class classification models; including new unit test cases
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Unit test updates & black reformatting
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/tasks.py
  src/sasctl/utils/astore.py
  tests/unit/test_model_parameters.py
  tests/unit/test_write_json_files.py
  tests/unit/test_write_score_code.py
Due: pzmm, utils, core

Update import_model to match write_score_code args
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Update unit and integration tests
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/pzmm/zip_model.py
  tests/integration/test_import_model.py
  tests/unit/test_write_score_code.py
  tests/unit/test_zip_model.py
Due: pzmm, core

Add/update integration cassettes
  tests/integration/cassettes/test_import_model.test_import_model.viya_202209.lzma
  tests/integration/cassettes/test_import_model.test_import_model.viya_35.lzma
  tests/integration/cassettes/test_import_model.test_model_exists.viya_202209.lzma
  tests/integration/cassettes/test_import_model.test_model_exists.viya_35.lzma
  tests/integration/cassettes/test_import_model.test_project_exists.viya_202209.lzma
  tests/integration/cassettes/test_import_model.test_project_exists.viya_35.lzma
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_202209.lzma
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_202209.swat.lzma
  tests/integration/cassettes/test_write_score_code.test_write_score_code.viya_202209.lzma
  tests/integration/cassettes/test_write_score_code.test_write_score_code.viya_35.lzma
Due: none

Black reformatting
  tests/integration/test_import_model.py
  tests/unit/test_model_info.py
  tests/unit/test_zip_model.py
Due: none

Updating regression model & import_model fixes
  examples/ARCHIVE/v1_8/pzmmModelImportExampleRegression.ipynb
  examples/data/USAHousingModels/LinearRegression/LinearRegression.pickle
  examples/data/USAHousingModels/LinearRegression/LinearRegression.zip
  examples/data/USAHousingModels/LinearRegression/ModelProperties.json
  examples/data/USAHousingModels/LinearRegression/fileMetadata.json
  examples/data/USAHousingModels/LinearRegression/inputVar.json
  examples/data/USAHousingModels/LinearRegression/outputVar.json
  examples/data/USAHousingModels/LinearRegression/score_LinearRegression.py
  examples/pzmm_regression_model_import.ipynb
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Update examples README.md
  examples/README.md
Due: none

updated custom kpi example + error catching in update kpis
  examples/pzmmCustomKPIExample.ipynb
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Rename generate_requirements_json.ipynb
  examples/pzmm_generate_requirements_json.ipynb
Due: none
