Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

feat: handle file-like or raw bytes
  src/sasctl/_services/model_repository.py
Due: services, core

chore: use pzmm for open source models
  src/sasctl/tasks.py
Due: core

fix: do not print unless running in a notebook
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

fix: remove hooks
  src/sasctl/utils/model_info.py
Due: utils, core

feat: pass additional info when registering model
  src/sasctl/tasks.py
Due: core

chore: misc cleanup
  src/sasctl/utils/model_info.py
Due: utils, core

feat: generate score code
  src/sasctl/tasks.py
Due: core

chore: misc cleanup
  src/sasctl/tasks.py
Due: core

refactor: swap model_id to model for ease of use in argument choice
  src/sasctl/_services/score_definitions.py
Due: services, core

refactor: adjust score execution to check for valid cas gateway actionset before scoring
  src/sasctl/_services/score_execution.py
Due: services, core

feat: add new task to score models in SAS Model Manager
  src/sasctl/_services/score_execution.py
  src/sasctl/tasks.py
Due: services, core

fix: skip for Viya 4+
  tests/integration/test_concepts.py
Due: none

fix: ignore spaces in env var
  tests/conftest.py
Due: none

fix: use sanitized model names in file names.
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Add example to demonstrate model card capabilities
  examples/data/adult.csv
  examples/pzmm_generate_complete_mode_card.ipynb
Due: none

Removed model card function call from pzmm_binary_classification_model_import.ipynb as a new example has been made for it
  examples/pzmm_binary_classification_model_import.ipynb
Due: none

fix: use instance methods & variables when manipulating model data
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

fix: score code generation creates score() not predict()
  examples/register_scikit_classification_model.py
  examples/register_scikit_regression_model.py
Due: none

chore: remove obsolete code
  src/sasctl/tasks.py
  tests/unit/test_tasks.py
Due: core

filter changed
  src/sasctl/_services/score_execution.py
Due: services, core

fix: updated for instance methods
  tests/unit/test_write_score_code.py
Due: none

fix: new pandas behavior
  tests/conftest.py
  tests/unit/test_model_parameters.py
Due: none

feat: require dill
  setup.py
Due: none

test: remove obsolete tests
  tests/integration/test_pymas.py
Due: none

Added docstrings and removed list_executions unit tests in test_score_execution.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
Due: services, core

Added this to fix code quality linting error
  src/sasctl/tasks.py
Due: core

feat: reshape 3+d tensors
  src/sasctl/utils/model_info.py
Due: utils, core

fix: update for tree-based models
  src/sasctl/utils/astore.py
Due: utils, core

fix: update for tree-based models
  tests/integration/test_astore_models.py
Due: none

feat: use model_info. rename input to X.
  examples/register_scikit_classification_model.py
  examples/register_scikit_regression_model.py
  src/sasctl/tasks.py
Due: core

test: update for changes to viya & pandas
  tests/integration/test_model_repository.py
  tests/integration/test_tasks.py
  tests/integration/test_write_json_files.py
Due: none

fix: convert non str/bytes to str.
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

feat: allow passing files using pathlib
  src/sasctl/_services/files.py
Due: services, core

chore: black formatting
  src/sasctl/_services/model_repository.py
Due: services, core

chore: prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
  src/sasctl/tasks.py
Due: core

fix: add dill requirement for conda
  .conda/meta.yaml
Due: none
