Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

refactor: adjust score_definitions.py for easier unit testing
  src/sasctl/_services/score_definitions.py
Due: services, core

test: update unit tests and put in draft score_definitions test
  tests/unit/test_score_definitions.py
Due: none

Formatting score definitions and running binary classification to test scoring services on an example notebook
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier.pickle
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier.zip
  examples/data/hmeqModels/DecisionTreeClassifier/ModelProperties.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_fitstat.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_lift.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_misc.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_relativeimportance.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_roc.json
  examples/data/hmeqModels/DecisionTreeClassifier/score_DecisionTreeClassifier.py
  examples/data/hmeqModels/GradientBoosting/GradientBoosting.pickle
  examples/data/hmeqModels/GradientBoosting/GradientBoosting.zip
  examples/data/hmeqModels/GradientBoosting/ModelProperties.json
  examples/data/hmeqModels/GradientBoosting/dmcas_fitstat.json
  examples/data/hmeqModels/GradientBoosting/dmcas_lift.json
  examples/data/hmeqModels/GradientBoosting/dmcas_misc.json
  examples/data/hmeqModels/GradientBoosting/dmcas_relativeimportance.json
  examples/data/hmeqModels/GradientBoosting/dmcas_roc.json
  examples/data/hmeqModels/GradientBoosting/score_GradientBoosting.py
  examples/data/hmeqModels/RandomForest/ModelProperties.json
  examples/data/hmeqModels/RandomForest/RandomForest.pickle
  examples/data/hmeqModels/RandomForest/RandomForest.zip
  examples/data/hmeqModels/RandomForest/dmcas_fitstat.json
  examples/data/hmeqModels/RandomForest/dmcas_lift.json
  examples/data/hmeqModels/RandomForest/dmcas_misc.json
  examples/data/hmeqModels/RandomForest/dmcas_relativeimportance.json
  examples/data/hmeqModels/RandomForest/dmcas_roc.json
  examples/data/hmeqModels/RandomForest/score_RandomForest.py
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_regression_model_import.ipynb
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_executions.py
Due: services, core

Adding fail cases for get_table and upload_file
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
Due: services, core

First version of all test cases for score definition
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

Reformatting
  src/sasctl/_services/model_repository.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
  tests/unit/test_score_executions.py
Due: services, core

Reformatting with black version 24.4.2
  src/sasctl/_services/model_repository.py
Due: services, core

Skipping this file for build
  tests/unit/test_score_execution.py
Due: none

updates to write_json_files to work better with prediction models
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Updating files for testing
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

Adding proper return value for successfu; get_definition call
  tests/unit/test_score_execution.py
Due: none

Raised http error for failed delete API call
  src/sasctl/_services/score_execution.py
Due: services, core

tests: adjustment to score_execution tests
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
Due: services, core

reformat: adjust score_execution.py to use same style of internal service call
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_executions.py
Due: services, core

tests: fix test_score_execution json reading error
  tests/unit/test_score_execution.py
Due: none

Adding frameworks for the rest of score_execution unit tests
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
Due: services, core

Pushing with all successful test cases
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

Fixed mapping issue in score_definitions
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

Fixed import statements
  src/sasctl/_services/score_definitions.py
Due: services, core

Removed extra print statement and Class call
  src/sasctl/_services/score_definitions.py
Due: services, core

updated write_json_files to fix model card issues
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

black reformatting
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

updated write_json_files test to reflect changes
  tests/unit/test_write_json_files.py
Due: none

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

Corrected status code comparisons
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

Fixed incorrect get_table syntax
  src/sasctl/_services/score_definitions.py
Due: services, core

feat: re-added model info
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info.py
Due: utils, core

style: replace 'is' with '==' to eliminate warnings
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

bug: allow binary file to be passed
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

feat: allow passing inline json
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

feat: simple parsing of pytorch models
  src/sasctl/utils/model_info.py
Due: utils, core

chore: directly expose get_model_info()
  src/sasctl/utils/__init__.py
Due: utils, core

fix: handle case where scikit model output not provided
  src/sasctl/utils/model_info.py
Due: utils, core

chore: add score-definitions and score-execution service into services.py
  src/sasctl/services.py
Due: core

chore: fix spelling errors
  src/sasctl/_services/score_definitions.py
Due: services, core

fix: proper call to the object uri in modelManagement for score definitions
  src/sasctl/_services/score_definitions.py
Due: services, core

feat: change base score definition to use CAS Gateway
  src/sasctl/_services/score_definitions.py
Due: services, core

feat: first draft for polling score execution and returning results
  src/sasctl/_services/score_execution.py
Due: services, core

fix: close zip file before reading bytes
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
