Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

Documentation update (#181)
  doc/conf.py
  doc/index.rst
  src/sasctl/_services/cas_management.py
  src/sasctl/_services/concepts.py
  src/sasctl/_services/data_sources.py
  src/sasctl/_services/files.py
  src/sasctl/_services/folders.py
  src/sasctl/_services/microanalytic_score.py
  src/sasctl/_services/model_management.py
  src/sasctl/_services/model_publish.py
  src/sasctl/_services/model_repository.py
  src/sasctl/_services/saslogon.py
  src/sasctl/_services/sentiment_analysis.py
  src/sasctl/_services/service.py
  src/sasctl/_services/text_categorization.py
  src/sasctl/_services/text_parsing.py
  src/sasctl/core.py
  src/sasctl/pzmm/git_integration.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/mlflow_model.py
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/pzmm/zip_model.py
  src/sasctl/tasks.py
  src/sasctl/utils/astore.py
  src/sasctl/utils/pymas/core.py
  src/sasctl/utils/pymas/ds2.py
  src/sasctl/utils/pymas/python.py
  tox.ini
Due: services, pzmm, utils, core

feat: initial onnx model info
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info_onnx.py
Due: utils, core

doc: show inheritance
  doc/api/services/report_images.rst
  doc/api/services/reports.rst
Due: none

feat: extract onnx info
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info_onnx.py
Due: utils, core

test: ignore classifier
  tests/unit/test_model_info_torch.py
Due: none

test: install deep learning libraries
  tox.ini
Due: none

test: skip tf and h2o install
  tox.ini
Due: none

test: don't check callspec on functions
  tests/conftest.py
Due: none

chore: black
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info_onnx.py
Due: utils, core

test: explicit fixture scope
  tests/unit/test_pageiterator.py
Due: none

test: remove incremental marker
  tests/unit/test_pageiterator.py
Due: none

test: rest mock
  tests/unit/test_pageiterator.py
Due: none

test: debug mock reset
  tests/unit/test_pageiterator.py
Due: none

test: separate non-paging tests
  tests/unit/test_pageiterator.py
  tests/unit/test_pageiterator_no_paging.py
Due: none

test: reset mock
  tests/unit/test_pageiterator_no_paging.py
Due: none

test: debug mock calls
  tests/unit/test_pageiterator_no_paging.py
Due: none

test: dont install onnx
  tox.ini
Due: none

test: dont install pytorch
  tox.ini
Due: none

feat: cleanup threadpool
  src/sasctl/core.py
  tests/unit/test_pageiterator.py
Due: core

fix: cancel_futures arg not supported until 3.8
  src/sasctl/core.py
Due: core

test: wtf
  tests/unit/test_pageiterator_no_paging.py
Due: none

test: mock session request
  tests/unit/test_pageiterator_no_paging.py
Due: none

test: cleanup
  tests/unit/test_pageiterator_no_paging.py
Due: none

test: i give up
  tests/unit/test_pageiterator_no_paging.py
Due: none

doc: cleanup
  doc/api/services/report_images.rst
  doc/api/services/reports.rst
  doc/conf.py
  src/sasctl/_services/cas_management.py
  src/sasctl/_services/data_sources.py
  src/sasctl/_services/service.py
  src/sasctl/core.py
  tox.ini
Due: services, core

chore: black
  src/sasctl/_services/cas_management.py
  src/sasctl/_services/concepts.py
  src/sasctl/_services/folders.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_json_files.py
Due: services, pzmm, core

fix: import name
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

onnx model info and doc fixes (#198)
  doc/api/services/report_images.rst
  doc/api/services/reports.rst
  doc/conf.py
  src/sasctl/_services/cas_management.py
  src/sasctl/_services/concepts.py
  src/sasctl/_services/data_sources.py
  src/sasctl/_services/folders.py
  src/sasctl/_services/service.py
  src/sasctl/core.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/zip_model.py
  src/sasctl/utils/model_info.py
  tests/conftest.py
  tests/unit/test_model_info_onnx.py
  tests/unit/test_model_info_torch.py
  tests/unit/test_pageiterator.py
  tox.ini
Due: services, pzmm, utils, core

chore: code qual
  src/sasctl/core.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/utils/model_info.py
Due: pzmm, utils, core

Edited test_score_definitions for syntax issue
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

fix: do not set assert_hostname=True
  src/sasctl/core.py
Due: core

fix: do not set assert_hostname=True (#201)
  src/sasctl/core.py
Due: core

release: v1.10.7
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

ci: update version of upload/download-artifact
  .github/workflows/build-test-deploy.yml
Due: none

black reformatting
  tests/unit/test_score_definitions.py
Due: none
