Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

update GitHub scoring to allow for compatibility with swat
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

change to conftest.py to try to fix issues with GitHub actions
  tests/conftest.py
Due: none

testing
  score_definition.py
Due: none

"Testing."
  score_execution.py
Due: none

Fixing comments
  score_definition.py
Due: none

Getting a model and input mapping
  score_definition.py
Due: none

Creating score definition JSON information
  score_definition.py
Due: none

Adding comments and adjusting for various API call and responses
  score_definition.py
  score_execution.py
Due: none

Exits program after an error
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
Due: services, core

Added original score_execution implementation
  src/sasctl/_services/score_execution.py
Due: services, core

refactor: swap in Service class for ScoreDefinitions class
  src/sasctl/_services/score_definitions.py
Due: services, core

Refactoring and adjusting for invalid HTTP status codes
  score_definition.py
  score_execution.py
Due: none

Raising exception if input file for table does not exist
  score_definition.py
Due: none

Added import statements
  score_definition.py
  score_execution.py
Due: none

Rename score_execution.py to src/_services/score_execution.py
  src/_services/score_execution.py
Due: none

Adding new notebook for Azure Open AI example
  examples/register_Azure_Open_AI_REST_Call.ipynb
Due: none

Update register_Azure_Open_AI_REST_Call.ipynb
  examples/register_Azure_Open_AI_REST_Call.ipynb
Due: none

Update README.md
  examples/README.md
Due: none

Edited new Azure OpenAI GPT model example.
  examples/README.md
  examples/register_Azure_OpenAI_model_using_REST_calls.ipynb
Due: none

Edited examples README.md file.
  examples/README.md
Due: none

Rename score_definition.py to src/sasctl/_services/score_definition.py
  src/sasctl/_services/score_definition.py
Due: services, core

updated casing in model properties so they are correctly read
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

refactor: move score_execution to appropriate directory
  src/_services/score_execution.py
  src/sasctl/_services/score_execution.py
Due: services, core

refactor: remove redundant score_definition.py; leave plural form to match API
  src/sasctl/_services/score_definition.py
  src/sasctl/_services/score_definitions.py
Due: services, core

chore: apply black linter
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
Due: services, core

refactor: add comments and proper indenting for classmethod
  src/sasctl/_services/score_execution.py
Due: services, core

fix: proper call to model_repository in score_definitions.py
  src/sasctl/_services/score_definitions.py
Due: services, core

fix: proper call to cls for score execution and black formatting
  src/sasctl/_services/score_execution.py
Due: services, core

First draft of unit testing for score definitions and score execution
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
Due: services, core

Added comments for test cases in test.score_definitions.py and started building out functions/calls to test for score_execution
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

pinned scikit-learn to 1.5.0 for tox testing
  tox.ini
Due: none

scikit-learn version less than 1.5.0 for python versions that do not support 1.5.0
  tox.ini
Due: none

changed scikit-learn to less than 1.5.0 in tox.ini
  tox.ini
Due: none

further changes to github testing
  .github/workflows/build-test-deploy.yml
Due: none

more changes to github testing
  .github/workflows/build-test-deploy.yml
Due: none

change numpy to be less than version 2.0.0 in tox tests
  tox.ini
Due: none

updated unit tests to align with code changes
  tests/unit/test_write_json_files.py
Due: none

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

Testing requests approach to pass get_model test
  tests/unit/test_score_definitions.py
Due: none
