Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

Move v1.8.2 pzmm examples to ARCHIVE
  examples/ARCHIVE/v1_8/pzmmModelImportExampleH2O.ipynb
  examples/ARCHIVE/v1_8/pzmmModelImportExampleMLFlow.ipynb
Due: none

More example updates
  examples/data/MLFlowModels/Model1/MLFlowModel.pickle
  examples/data/MLFlowModels/Model1/MLFlowModel.zip
  examples/data/MLFlowModels/Model1/ModelProperties.json
  examples/data/MLFlowModels/Model1/fileMetadata.json
  examples/data/MLFlowModels/Model1/inputVar.json
  examples/data/MLFlowModels/Model1/outputVar.json
  examples/data/MLFlowModels/Model1/score_MLFlowModel.py
  examples/data/hmeqModels/DTC_KPIs/dmcas_fitstat.json
  examples/data/hmeqModels/H2OBinaryGLM/dmcas_epscorecode.sas
  examples/data/hmeqModels/H2OBinaryGLM/dmcas_packagescorecode.sas
  examples/data/hmeqModels/H2OBinaryGLM/glmFit.pickle
  examples/data/hmeqModels/H2OBinaryGLM/glmFit.zip
  examples/data/hmeqModels/H2OBinaryGLM/glmFitScore.py
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_binary.zip
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_mojo.zip
  examples/data/hmeqModels/H2OBinaryGLM/score_glmfit_binary.py
  examples/data/hmeqModels/H2OBinaryGLM/score_glmfit_mojo.py
  examples/data/hmeqModels/H2OMOJOGLM/ModelProperties.json
  examples/data/hmeqModels/H2OMOJOGLM/fileMetadata.json
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.mojo
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.zip
  examples/data/hmeqModels/H2OMOJOGLM/inputVar.json
  examples/data/hmeqModels/H2OMOJOGLM/outputVar.json
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_h2o_model_import.ipynb
  examples/pzmm_mlflow_model_import.ipynb
  examples/register_scikit_classification_model.py
  examples/register_scikit_regression_model.py
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Fixed bug in create_performance_definition regarding passing in model and project
  src/sasctl/_services/model_management.py
Due: services, core

fixed issue with find_flie in model_parameters
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Fix for the pzmm regression model example.
  examples/ARCHIVE/v1_8/RegressionModel/LinearRegression.pickle
  examples/ARCHIVE/v1_8/RegressionModel/ModelProperties.json
  examples/ARCHIVE/v1_8/RegressionModel/fileMetadata.json
  examples/ARCHIVE/v1_8/RegressionModel/inputVar.json
  examples/ARCHIVE/v1_8/RegressionModel/outputVar.json
  examples/data/hmeqModels/DTC_KPIs/DTC_KPIsV1.pickle
  examples/data/hmeqModels/DTC_KPIs/DTC_KPIsV1.zip
  examples/data/hmeqModels/DTC_KPIs/DTC_KPIsV1Hyperparameters.json
  examples/data/hmeqModels/DTC_KPIs/ModelProperties.json
  examples/data/hmeqModels/DTC_KPIs/dmcas_lift.json
  examples/data/hmeqModels/DTC_KPIs/dmcas_roc.json
  examples/data/hmeqModels/DTC_KPIs/fileMetadata.json
  examples/data/hmeqModels/DTC_KPIs/inputVar.json
  examples/data/hmeqModels/DTC_KPIs/outputVar.json
  examples/data/hmeqModels/DTC_KPIs/score_DTC_KPIsV1.py
  examples/pzmmModelImportExampleRegression.ipynb
  examples/pzmm_custom_kpis.ipynb
  tests/integration/cassettes/test_full_pipelines.TestSklearnClassificationModel.test_publish_mas.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_score_cas.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_score_cas.viya_35.swat.lzma
Due: none

Revert "Fix for the pzmm regression model example."
  examples/ARCHIVE/v1_8/RegressionModel/LinearRegression.pickle
  examples/ARCHIVE/v1_8/RegressionModel/ModelProperties.json
  examples/ARCHIVE/v1_8/RegressionModel/fileMetadata.json
  examples/ARCHIVE/v1_8/RegressionModel/inputVar.json
  examples/ARCHIVE/v1_8/RegressionModel/outputVar.json
  examples/data/hmeqModels/DTC_KPIs/DTC_KPIsV1.pickle
  examples/data/hmeqModels/DTC_KPIs/DTC_KPIsV1.zip
  examples/data/hmeqModels/DTC_KPIs/DTC_KPIsV1Hyperparameters.json
  examples/data/hmeqModels/DTC_KPIs/ModelProperties.json
  examples/data/hmeqModels/DTC_KPIs/dmcas_lift.json
  examples/data/hmeqModels/DTC_KPIs/dmcas_roc.json
  examples/data/hmeqModels/DTC_KPIs/fileMetadata.json
  examples/data/hmeqModels/DTC_KPIs/inputVar.json
  examples/data/hmeqModels/DTC_KPIs/outputVar.json
  examples/data/hmeqModels/DTC_KPIs/score_DTC_KPIsV1.py
  examples/pzmmModelImportExampleRegression.ipynb
  examples/pzmm_custom_kpis.ipynb
  tests/integration/cassettes/test_full_pipelines.TestSklearnClassificationModel.test_publish_mas.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_score_cas.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_score_cas.viya_35.swat.lzma
Due: none

Fix for the pzmm regression model example, second attempt.
  examples/pzmmModelImportExampleRegression.ipynb
Due: none

First pass of tasks refactor
  examples/full_lifecycle.py
  src/sasctl/tasks.py
  tests/integration/test_full_pipelines.py
  tests/integration/test_tasks.py
  tests/scenarios/test_project_with_sas_and_sklearn_classification_models.py
  tests/scenarios/test_project_with_sas_and_sklearn_regression_models.py
  tests/unit/test_tasks.py
Due: core

Fix unit tests for create_performance_definition for single model projects
  tests/unit/test_model_management.py
Due: none

Fix create_model_performance for single models with a project
  src/sasctl/_services/model_management.py
Due: services, core

Spelling error
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Update/revise custom kpi example
  examples/pzmm_custom_kpi_model_parameters.ipynb
Due: none

Example updates
  examples/ARCHIVE/v1_8/pzmmModelImportExampleH2O.ipynb
  examples/pzmmCustomKPIExample.ipynb
Due: none

Black reformatting
  src/sasctl/_services/model_management.py
  src/sasctl/pzmm/model_parameters.py
  tests/integration/test_tasks.py
Due: services, pzmm, core

isort on pzmm
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

Move model_info and tasks refactor to separate branches
  src/sasctl/tasks.py
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info.py
  tests/unit/test_tasks.py
Due: utils, core

Fix incorrect mock patch
  tests/unit/test_auth.py
Due: none

Revert task refactor changes to side branch and run black/isort
  examples/register_scikit_classification_model.py
  examples/register_scikit_regression_model.py
  src/sasctl/_services/workflow.py
  src/sasctl/tasks.py
  tests/integration/test_full_pipelines.py
  tests/integration/test_tasks.py
  tests/unit/test_pageiterator.py
  tests/unit/test_tasks.py
  tests/unit/test_workflow.py
Due: services, core

Black reformatting and keep pandas version below v2 for tox until further testing is completed
  src/sasctl/__init__.py
  src/sasctl/services.py
  src/sasctl/utils/__init__.py
  tests/unit/test_decorators.py
  tests/unit/test_pyml2ds.py
  tests/unit/test_tasks.py
  tox.ini
Due: utils, core

Properly set the tox pandas value
  tox.ini
Due: none

Prep for release
  CHANGELOG.md
  README.md
  src/sasctl/__init__.py
Due: core

Include numpydoc in documentation set up installation. Prep for release, second attempt.
  .github/workflows/build-test-deploy.yml
Due: none

Unit tests for check_if_jupyter()
  src/sasctl/utils/misc.py
  tests/unit/test_misc_utils.py
Due: utils, core

add sync_model_properties to model_parameters
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

comments on sync_model_properties
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

allow metadata json to handle tf models
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

score code written for keras models works
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

h2o models no longer require creating a zip file in SAS Model Manager
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

tensorflow test cases for write_json_files and write_score_code
  src/sasctl/pzmm/write_json_files.py
  tests/unit/test_write_json_files.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

beginning of tensorflow keras example
  examples/pzmm_tensorflow_keras_model_import.ipynb
Due: none

Annotate and reorder pickle_trained_model; trained_model is optional for mlflow models.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Adjust h2o model handling to use the h2o functions to save a binary or mojo model.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Update pickle_model test cases.
  tests/unit/test_pickle_model.py
Due: none

Update write_json_files test cases.
  tests/unit/test_write_json_files.py
Due: none

Black reformatting
  src/sasctl/pzmm/pickle_model.py
  tests/unit/test_pickle_model.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

Set h2o package as optional for non-h2o package users.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Include json encoder to swap out numpy types for their Python counterparts. #159
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core
