Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

Prep for release.
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

Update custom kpi and model parameters example to include check on the performance job states.
  examples/pzmm_custom_kpi_model_parameters.ipynb
Due: none

initialized and created skeleton for calculate_group_metrics() function for classification problems
  src/sasctl/pzmm/private/testing_cms.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

removed unnecessary variable from import_model
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

generalized calculate_group_metrics to regression models
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added function format_group_metrics_dataframe() to format regression dataframe for groupmetrics.json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added formatting for classification problems in format_group_metrics_dataframe()
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Fix missing __module__ call to __class_ object for xgboost and statsmodels models in generate_hyperparameters().
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

edited formatting for classification problems in format_group_metrics_dataframe. Need to find way to get _kscut_ and _miscks_
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Remove complicated f-string for H2O column_types; replace with string definition.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Update h2o import example for json file mistakes; add publish and scoring example.
  examples/pzmm_h2o_model_import.ipynb
Due: none

Add updated model content for H2O model example.
  examples/data/hmeqModels/H2OBinaryGLM/glmFit.pickle
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_binary.zip
  examples/data/hmeqModels/H2OBinaryGLM/outputVar.json
  examples/data/hmeqModels/H2OBinaryGLM/score_glmfit_binary.py
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.mojo
  examples/data/hmeqModels/H2OMOJOGLM/glmfit_mojo.zip
  examples/data/hmeqModels/H2OMOJOGLM/outputVar.json
  examples/data/hmeqModels/H2OMOJOGLM/score_glmfit_mojo.py
Due: none

Add updated model content for H2O model example part 2.
  examples/data/hmeqModels/H2OBinaryGLM/dmcas_epscorecode.sas
  examples/data/hmeqModels/H2OBinaryGLM/dmcas_packagescorecode.sas
  examples/data/hmeqModels/H2OMOJOGLM/dmcas_epscorecode.sas
  examples/data/hmeqModels/H2OMOJOGLM/dmcas_packagescorecode.sas
Due: none

Add in new pytest fixture for reading notebooks as scripts.
  tests/conftest.py
Due: none

Include new packages for notebook tests in tox.ini file.
  tox.ini
Due: none

Update to h2o example and assets to work on both Viya 3.5 and 4
  examples/data/hmeqModels/H2OBinaryGLM/ModelProperties.json
  examples/data/hmeqModels/H2OBinaryGLM/dmcas_epscorecode.sas
  examples/data/hmeqModels/H2OBinaryGLM/dmcas_packagescorecode.sas
  examples/data/hmeqModels/H2OBinaryGLM/fileMetadata.json
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_binary.pickle
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_binary.zip
  examples/data/hmeqModels/H2OBinaryGLM/score_glmfit_binary.py
  examples/data/hmeqModels/H2OMOJOGLM/ModelProperties.json
  examples/data/hmeqModels/H2OMOJOGLM/dmcas_epscorecode.sas
  examples/data/hmeqModels/H2OMOJOGLM/dmcas_packagescorecode.sas
  examples/data/hmeqModels/H2OMOJOGLM/fileMetadata.json
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.mojo
  examples/data/hmeqModels/H2OMOJOGLM/glmfit_mojo.mojo
  examples/data/hmeqModels/H2OMOJOGLM/glmfit_mojo.zip
  examples/data/hmeqModels/H2OMOJOGLM/score_glmfit_mojo.py
  examples/pzmm_h2o_model_import.ipynb
Due: none

Input array change to allow score code to work for pandas>=2.0. Removed unneeded imports for h2o models.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Black reformatting and missed file deletion.
  examples/data/hmeqModels/H2OBinaryGLM/glmFit.pickle
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Remove unneeded indentation.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

edited group metric functions to create indicator variable for cases where one was not passed, formatting
  src/sasctl/pzmm/private/testing_clf.py
  src/sasctl/pzmm/private/testing_percentile.assess.py
  src/sasctl/pzmm/private/testing_percentile.assess_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

finished editing group metrics functions (for now)
  src/sasctl/pzmm/private/testing_percentile.assess.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

integrates calculate group metrics into main assess bias function
  src/sasctl/pzmm/private/testing.py
  src/sasctl/pzmm/private/testing_clf.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added initial documentation to assess_model_bias
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added errors and examples in testing_assess_model_bias_clf.py
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_clf.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fixed errors in model_parameters for xgboost and statsmodels
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

updated formatting/cleaned up some functions
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

updating todos
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

using the group metrics table that comes from assessBias
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

updated column names to match json files
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

updating format
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Updates project property syncing on model push to add new variables without creating copies of existing ones
  src/sasctl/pzmm/import_model.py
  src/sasctl/tasks.py
Due: pzmm, core

added functions for formatting assess Bias tables. Initiated json function
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Added json formatting for classifcation problems
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Added json formatting for regression problems
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

integrated json files into main function
  src/sasctl/pzmm/private/creating_json.py
  src/sasctl/pzmm/private/data/clf_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/clf_json_files/maxDifferences.json
  src/sasctl/pzmm/private/data/clf_scoredata.csv
  src/sasctl/pzmm/private/data/example_assessBias_data_clf/gm_example_clf.csv
  src/sasctl/pzmm/private/data/example_assessBias_data_clf/md_example_clf.csv
  src/sasctl/pzmm/private/data/example_assessbias_data_reg/gm_example_reg.csv
  src/sasctl/pzmm/private/data/example_assessbias_data_reg/md_example_reg.csv
  src/sasctl/pzmm/private/data/reg_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/reg_json_files/maxDifferences.json
  src/sasctl/pzmm/private/template_files/clf_jsons/groupMetrics.json
  src/sasctl/pzmm/private/template_files/clf_jsons/maxDifferences.json
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/private/testing_cms.py
  src/sasctl/pzmm/private/testing_json_function.py
  src/sasctl/pzmm/private/testing_percentile.assess.py
  src/sasctl/pzmm/private/testing_percentile.assess_reg.py
  src/sasctl/pzmm/template_files/clf_jsons/groupMetrics.json
  src/sasctl/pzmm/template_files/clf_jsons/maxDifferences.json
  src/sasctl/pzmm/template_files/reg_jsons/groupMetrics.json
  src/sasctl/pzmm/template_files/reg_jsons/maxDifferences.json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Fixes to Sessions created via swat.CAS object
  src/sasctl/core.py
Due: core

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
