Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

suppress ref warnings
  doc/conf.py
Due: none

Swap argument order for _binary_target so that h2o is not always True
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Tentative updates to CHANGELOG.md and __init__.py, as well as fixing example in write_score_code.py.
  CHANGELOG.md
  src/sasctl/__init__.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Update deprecated codeql-actions to v2
  .github/workflows/codeql-analysis.yml
Due: none

minor updates to changelog
  CHANGELOG.md
Due: none

unchange __init__.py to allow for prep for release commit
  src/sasctl/__init__.py
Due: core

Prep for release
  src/sasctl/__init__.py
Due: core

test do not merge
  setup.py
Due: none

Removing warning messages
  examples/pzmm_classification_assess_model_bias.ipynb
  examples/pzmm_regression_assess_model_bias.ipynb
Due: none

Removing additional warning message.
  examples/pzmm_classification_assess_model_bias.ipynb
Due: none

WARNING for DLPY python version
  examples/register_sas_dlpy_model.py
Due: none

DLPy readMe warning message for python version
  examples/README.md
Due: none

Update impute_missing_values to handle SAS table NaN values
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Fix issue where target_index was not being properly set
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Fixed pzmm_generate_requirements_json example, and updated write_json_file to fix some formatting errors
  examples/pzmm_generate_requirements_json.ipynb
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Fixed bug where 'import settings' was not added to score code if a Viya connection is not established
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

write_file_metadata_json - added optional parameter for pytorch models
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added params for pytorch model in viya4model load, import model,
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

write_score_code param add.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Update score code generation for Pytorch to include proper paths and returns for inner score function usage
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Include Pytorch model files in the zip file filter logic
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

Black reformatting
  src/sasctl/pzmm/mlflow_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Black reformatting (second attempt)
  src/sasctl/_services/model_repository.py
  src/sasctl/pzmm/write_json_files.py
Due: services, pzmm, core

add missing KPI values to dmcas_fitstat from dmcas_roc (with exceptions of _KSPOSTCUTOFF_ and _KSCUT_)
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Added functionality for Model Cards in write_json_files.
  src/sasctl/pzmm/template_files/dmcas_relativeimportance.json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fixed some bugs to allow for model card files to generate correctly.
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Updated update_model_properties to give proper type/length to model properties
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Added some tests for model cards + fixed some model card errors
  src/sasctl/pzmm/write_json_files.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

changed "interval" to "prediction" + changed calculate_model_statistics to allow for prediction models
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

First outline draft of write_score_wrapper.py
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

initial commit for score_Wrapper
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

hot fix
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

breaking file input and function input into different class methods
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

Update pzmm_binary_classification_model_import notebook to include model card generation
  examples/pzmm_binary_classification_model_import.ipynb
Due: none

Updated file input 3/28
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

adding score_wrapper param to import_model.py
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Moved pytorch changes to pytorch_models to allow for release prep
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
