Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

Style change
  src/sasctl/core.py
Due: core

minor change using datarole param
  src/sasctl/pzmm/private/data/reg_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/reg_json_files/maxDifferences.json
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added cutoff parameter
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added draft of classification example for assess_model_bias()
  examples/data/BiasMetrics/titanicModels/DecisionTree/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/maxDifferences.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/titanicModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/RandomForest/maxDifferences.json
  examples/data/titanic.csv
  examples/pzmm_binary_classification_assess_model_bias.py
Due: none

added draft of regression example for assess_model_bias()
  examples/data/BiasMetrics/examModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/examModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/examModels/LinearRegression/groupMetrics.json
  examples/data/BiasMetrics/examModels/LinearRegression/maxDifferences.json
  examples/data/BiasMetrics/examModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/examModels/RandomForest/maxDifferences.json
  examples/data/exams.csv
  examples/pzmm_binary_classification_assess_model_bias.py
  examples/pzmm_regression_assess_model_bias.py
Due: none

added error for if the variable names users pass do not follow SAS naming conventions
  examples/pzmm_binary_classification_assess_model_bias.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

updated value error
  examples/data/BiasMetrics/examModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/examModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/examModels/LinearRegression/groupMetrics.json
  examples/data/BiasMetrics/examModels/LinearRegression/maxDifferences.json
  examples/data/BiasMetrics/examModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/examModels/RandomForest/maxDifferences.json
  examples/pzmm_regression_assess_model_bias.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fixing variable type for cas action
  src/sasctl/pzmm/private/data/clf_json_files/maxDifferences.json
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

adding rough draft of classification example notebook
  examples/data/BiasMetrics/titanicModels/DecisionTree/DecisionTree.pickle
  examples/data/BiasMetrics/titanicModels/DecisionTree/DecisionTree.zip
  examples/data/BiasMetrics/titanicModels/DecisionTree/ModelProperties.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/dmcas_fitstat.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/dmcas_lift.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/dmcas_roc.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/fileMetadata.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/inputVar.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/outputVar.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/score_DecisionTree.py
  examples/data/BiasMetrics/titanicModels/GradientBoost/GradientBoost.pickle
  examples/data/BiasMetrics/titanicModels/GradientBoost/GradientBoost.zip
  examples/data/BiasMetrics/titanicModels/GradientBoost/ModelProperties.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/dmcas_fitstat.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/dmcas_lift.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/dmcas_roc.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/fileMetadata.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/inputVar.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/outputVar.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/score_GradientBoost.py
  examples/data/BiasMetrics/titanicModels/RandomForest/ModelProperties.json
  examples/data/BiasMetrics/titanicModels/RandomForest/RandomForest.pickle
  examples/data/BiasMetrics/titanicModels/RandomForest/RandomForest.zip
  examples/data/BiasMetrics/titanicModels/RandomForest/dmcas_fitstat.json
  examples/data/BiasMetrics/titanicModels/RandomForest/dmcas_lift.json
  examples/data/BiasMetrics/titanicModels/RandomForest/dmcas_roc.json
  examples/data/BiasMetrics/titanicModels/RandomForest/fileMetadata.json
  examples/data/BiasMetrics/titanicModels/RandomForest/inputVar.json
  examples/data/BiasMetrics/titanicModels/RandomForest/outputVar.json
  examples/data/BiasMetrics/titanicModels/RandomForest/score_RandomForest.py
  examples/pzmm_binary_classification_assess_model_bias.ipynb
  src/sasctl/pzmm/private/data/clf_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/clf_json_files/maxDifferences.json
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

updated classification example
  examples/pzmm_binary_classification_assess_model_bias.ipynb
Due: none

added regression example
  examples/data/BiasMetrics/examModels/GradientBoost/GradientBoost.pickle
  examples/data/BiasMetrics/examModels/GradientBoost/GradientBoost.zip
  examples/data/BiasMetrics/examModels/GradientBoost/ModelProperties.json
  examples/data/BiasMetrics/examModels/GradientBoost/fileMetadata.json
  examples/data/BiasMetrics/examModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/examModels/GradientBoost/inputVar.json
  examples/data/BiasMetrics/examModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/examModels/GradientBoost/outputVar.json
  examples/data/BiasMetrics/examModels/GradientBoost/score_GradientBoost.py
  examples/data/BiasMetrics/examModels/LinearRegression/LinearRegression.pickle
  examples/data/BiasMetrics/examModels/LinearRegression/LinearRegression.zip
  examples/data/BiasMetrics/examModels/LinearRegression/ModelProperties.json
  examples/data/BiasMetrics/examModels/LinearRegression/fileMetadata.json
  examples/data/BiasMetrics/examModels/LinearRegression/groupMetrics.json
  examples/data/BiasMetrics/examModels/LinearRegression/inputVar.json
  examples/data/BiasMetrics/examModels/LinearRegression/maxDifferences.json
  examples/data/BiasMetrics/examModels/LinearRegression/outputVar.json
  examples/data/BiasMetrics/examModels/LinearRegression/score_LinearRegression.py
  examples/data/BiasMetrics/examModels/RandomForest/ModelProperties.json
  examples/data/BiasMetrics/examModels/RandomForest/RandomForest.pickle
  examples/data/BiasMetrics/examModels/RandomForest/RandomForest.zip
  examples/data/BiasMetrics/examModels/RandomForest/fileMetadata.json
  examples/data/BiasMetrics/examModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/examModels/RandomForest/inputVar.json
  examples/data/BiasMetrics/examModels/RandomForest/maxDifferences.json
  examples/data/BiasMetrics/examModels/RandomForest/outputVar.json
  examples/data/BiasMetrics/examModels/RandomForest/score_RandomForest.py
  examples/pzmm_binary_classification_assess_model_bias.ipynb
  examples/pzmm_regression_assess_model_bias.ipynb
  src/sasctl/pzmm/private/__init__.py
  src/sasctl/pzmm/private/pzmm_binary_classification_assess_model_bias.py
  src/sasctl/pzmm/private/pzmm_regression_assess_model_bias.py
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added subfunction for prob_values formatting
  examples/pzmm_binary_classification_assess_model_bias.ipynb
  examples/pzmm_regression_assess_model_bias.ipynb
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fixed dtype issue
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added support for multiclassification problems
  src/sasctl/pzmm/private/data/clf_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/clf_json_files/maxDifferences.json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

finished adding multiclass support, made levels parameter required for classification problems
  src/sasctl/pzmm/private/data/hmeq.csv
  src/sasctl/pzmm/private/pzmm_binary_classification_assess_model_bias.py
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_bias_multiclas.py
  src/sasctl/pzmm/template_files/clf_jsons/groupMetrics.json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added simple check for invalid variable names
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added option to return dataframes and updated documentation
  src/sasctl/pzmm/private/testing_assess_bias_multiclas.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added bias metric graphs for binary classification model
  examples/data/BiasMetrics/titanicModels/DecisionTree/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/maxDifferences.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/titanicModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/RandomForest/maxDifferences.json
  examples/pzmm_binary_classification_assess_model_bias.ipynb
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added bias metrics to be returned if user specifies
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fixed bias metrics
  examples/pzmm_binary_classification_assess_model_bias.ipynb
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Add try/except block for the case of a project with no project variables.
  src/sasctl/tasks.py
Due: core

Adjust model properties to be in line with SAS standards
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Formatting and annotations
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Black reformatting
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/tasks.py
Due: pzmm, core

added multiclassification example and added graphs
  examples/data/BiasMetrics/titanicModels/DecisionTree/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/DecisionTree/maxDifferences.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/titanicModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/RandomForest/maxDifferences.json
  examples/pzmm_binary_classification_assess_model_bias.ipynb
  examples/pzmm_classification_assess_model_bias.ipynb
Due: none

added multiclassification example and added graphs
  examples/data/BiasMetrics/titanicModels/MultiRandomForest/groupMetrics.json
  examples/data/BiasMetrics/titanicModels/MultiRandomForest/maxDifferences.json
Due: none

finished classification notebook, updating regression
  examples/data/exams.csv
  examples/pzmm_classification_assess_model_bias.ipynb
  examples/pzmm_regression_assess_model_bias.ipynb
Due: none

finished regression notebook,
  examples/data/BiasMetrics/examModels/GradientBoost/groupMetrics.json
  examples/data/BiasMetrics/examModels/GradientBoost/maxDifferences.json
  examples/data/BiasMetrics/examModels/LinearRegression/groupMetrics.json
  examples/data/BiasMetrics/examModels/LinearRegression/maxDifferences.json
  examples/data/BiasMetrics/examModels/RandomForest/groupMetrics.json
  examples/data/BiasMetrics/examModels/RandomForest/maxDifferences.json
  examples/pzmm_classification_assess_model_bias.ipynb
  examples/pzmm_regression_assess_model_bias.ipynb
Due: none

finished regression notebook,
  examples/pzmm_regression_assess_model_bias.ipynb
Due: none

fixed dummies error
  examples/pzmm_regression_assess_model_bias.ipynb
Due: none

actually fixed dummies error
  examples/pzmm_classification_assess_model_bias.ipynb
  examples/pzmm_regression_assess_model_bias.ipynb
Due: none

First draft of imputation that is invariant for batch or single-row scoring.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Black reformatting
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Update unit tests to fix failing tests.
  src/sasctl/__init__.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/tasks.py
  tests/conftest.py
  tests/unit/test_import_model.py
  tests/unit/test_model_parameters.py
  tests/unit/test_session.py
  tests/unit/test_write_json_files.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Black reformatting
  src/sasctl/__init__.py
  src/sasctl/core.py
  src/sasctl/pzmm/private/creating_json.py
  src/sasctl/pzmm/private/pzmm_binary_classification_assess_model_bias.py
  src/sasctl/pzmm/private/pzmm_regression_assess_model_bias.py
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_bias_multiclas.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/private/testing_json_function.py
  tests/unit/test_import_model.py
  tests/unit/test_model_parameters.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Add TODO comments for next release
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/tasks.py
Due: pzmm, core

updated write_score_code to format input data as a pandas dataframe
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

added updates to tensorflow score code
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Fixed broken unit tests for write_score_code
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Black reformatting + minor reformatting
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
