Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

update create_score_definition to work with uuids
  src/sasctl/_services/score_definitions.py
Due: services, core

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

adding model versioning functionality for score testing, publishing, and performance monitoring models
  src/sasctl/_services/model_management.py
  src/sasctl/_services/model_publish.py
  src/sasctl/_services/score_definitions.py
Due: services, core

removed debug print statements after testing versioning logic
  src/sasctl/_services/model_management.py
Due: services, core

Added unit tests for model version functionality
  src/sasctl/_services/model_management.py
  src/sasctl/_services/score_definitions.py
  tests/unit/test_model_management.py
  tests/unit/test_score_definitions.py
Due: services, core

Refactored code for more clarity
  src/sasctl/_services/score_definitions.py
Due: services, core

Added another unit test for more coverage
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

Additional refactoring
  src/sasctl/_services/model_management.py
Due: services, core

Publish model versions - added another unit test (#221)
  src/sasctl/_services/model_management.py
  src/sasctl/_services/model_publish.py
  src/sasctl/_services/score_definitions.py
  tests/unit/test_model_management.py
  tests/unit/test_score_definitions.py
Due: services, core

Adding inital implementation for creating a requirements.txt in write_json_files
  src/sasctl/pzmm/write_json_files.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

Formatted changes to write_json_files.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Updated doc string for create_requirements_json to include added requirements.txt generation
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

DCO Remediation Commit for Samuel Babak <samuel.babak@sas.com>
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Updated mapping of import/install names
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

formatted files
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added short tests for requirements.txt
  tests/unit/test_write_json_files.py
Due: none

updated documentation to include information about creating requirements.txt
  examples/pzmm_generate_complete_model_card.ipynb
  examples/pzmm_generate_requirements_json.ipynb
Due: none

DCO Remediation Commit for Samuel Babak <samuel.babak@sas.com>
  examples/pzmm_generate_requirements_json.ipynb
Due: none

Add changes for upcoming release
  CHANGELOG.md
Due: none

Update CHANGELOG.md to add changes for upcoming release
  CHANGELOG.md
Due: none

Prep for release
  src/sasctl/__init__.py
Due: core

chore: update terminology in documentation (EDMMMX-13530
  examples/pzmm_generate_requirements_json.ipynb
Due: none

fix: update imputation method to avoid warnings
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

black reformatting
  src/sasctl/_services/model_repository.py
  tests/integration/test_pymas.py
Due: services, core

formatting change to shorten lines
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

black reformatting
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

commit to rebuild
  src/sasctl/pzmm/code_file.py
Due: pzmm, core

chore: do not unpack iterable
  src/sasctl/utils/misc.py
Due: utils, core

chore: linting
  CHANGELOG.md
Due: none

chore: remove debug warnings
  src/sasctl/utils/misc.py
Due: utils, core

formatted files
  src/sasctl/_services/files.py
  src/sasctl/pzmm/code_file.py
Due: services, pzmm, core

chore: linting
  src/sasctl/_services/model_repository.py
  src/sasctl/utils/misc.py
Due: services, utils, core

Implementation of ID Code import functionality
  src/sasctl/_services/files.py
  src/sasctl/pzmm/__init__.py
  src/sasctl/pzmm/code_file.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/utils/misc.py
Due: services, pzmm, utils, core

black formatting
  src/sasctl/_services/model_repository.py
  src/sasctl/utils/misc.py
  tests/integration/test_pymas.py
Due: services, utils, core

chore: linting
  src/sasctl/utils/misc.py
Due: utils, core

chore: move from pgk_resources to importlib.metadata
  src/sasctl/utils/misc.py
  tox.ini
Due: utils, core

chore: revert testing change
  src/sasctl/_services/model_repository.py
  tests/unit/test_misc_utils.py
Due: services, core
