Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

updates to score code + score code tests (EDMMMX-11741)
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

black reformatting (EDMMMX-11741)
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

update model card example to create better pre-processing function
  examples/pzmm_generate_complete_model_card.ipynb
Due: none

Update to model card example metadata
  examples/pzmm_generate_complete_model_card.ipynb
Due: none

Updates to score testing example
  examples/score_testing_example.ipynb
Due: none

Updates to score testing logic
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  src/sasctl/tasks.py
Due: services, core

test updates + black reformatting
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
Due: services, core

updates to get_score_definition to better catch errors
  src/sasctl/_services/score_definitions.py
Due: services, core

Updates to error catching in score_definitions.py
  src/sasctl/_services/score_definitions.py
Due: services, core

chore: update test to better reflect function behavior
  tests/unit/test_score_definitions.py
Due: none

chore: change boolean in score_testing_example to be consistent with comments
  examples/score_testing_example.ipynb
Due: none

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

fixed assessment metrics
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_generate_complete_model_card.ipynb
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fix: update write_json_files and examples to properly generate ROC chart (EDMMMX-12439)
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_generate_complete_model_card.ipynb
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Update pzmm_generate_complete_model_card.ipynb
  examples/pzmm_generate_complete_model_card.ipynb
Due: none

feat: upload local model without any extra file generation (PMMODEL-682)
  src/sasctl/tasks.py
Due: core

black reformatting
  src/sasctl/tasks.py
Due: core

updates to error handling for repository finding
  src/sasctl/tasks.py
Due: core

prep for release
  src/sasctl/tasks.py
Due: core

update testing to use newer version of ubuntu
  .github/workflows/build-test-deploy.yml
Due: none

prep for release
  CHANGELOG.md
Due: none

fix: upload .sasast models correctly (PMMODEL-682)
  src/sasctl/tasks.py
Due: core

fix: update upload_local_model to work with model versioning (PMMODEL-682)
  src/sasctl/tasks.py
Due: core

model versioning files
  src/sasctl/_services/model_repository.py
  tests/unit/test_model_repository.py
Due: services, core

edited list_model_versions
  src/sasctl/_services/model_repository.py
Due: services, core

passing tests and example notebook
  src/sasctl/_services/model_repository.py
  tests/unit/test_model_repository.py
Due: services, core

update list_model_versions to accomodate viya 3.5
  src/sasctl/_services/model_repository.py
Due: services, core

update model_repository unit tests to accomodate version checking
  tests/unit/test_model_repository.py
Due: none

black reformatting
  tests/unit/test_model_repository.py
Due: none

update model_repository test to fix python 3.8 tests
  tests/unit/test_model_repository.py
Due: none

further testing updates
  tests/unit/test_model_repository.py
Due: none

allow for user to access timeout variable in score_model_with_cas
  src/sasctl/tasks.py
Due: core
