Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

checking black formatting
  tests/unit/test_score_definitions.py
Due: none

ci: remove publish to anaconda
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

chore: remove anaconda files
  .conda/meta.yaml
  CHANGELOG.md
Due: none

added capability to have preprocessing function in score code
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

black reformatting
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

update to preprocess unit tests
  tests/unit/test_write_score_code.py
Due: none

added cas gateway optional parameter
  src/sasctl/_services/score_definitions.py
Due: services, core

Updated example with score testing
  examples/pzmm_binary_classification_model_import.ipynb
Due: none

Add files via upload
  pzmm_binary_classification_model_import.ipynb
Due: none

score testing example
  examples/score_testing_example.ipynb
  pzmm_binary_classification_model_import.ipynb
Due: none

Update write_score_code.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Updates to preprocess function
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Formatting score definitions and running binary classification to test scoring services on an example notebook
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier.pickle
  examples/data/hmeqModels/DecisionTreeClassifier/DecisionTreeClassifier.zip
  examples/data/hmeqModels/DecisionTreeClassifier/ModelProperties.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_fitstat.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_lift.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_misc.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_relativeimportance.json
  examples/data/hmeqModels/DecisionTreeClassifier/dmcas_roc.json
  examples/data/hmeqModels/DecisionTreeClassifier/score_DecisionTreeClassifier.py
  examples/data/hmeqModels/GradientBoosting/GradientBoosting.pickle
  examples/data/hmeqModels/GradientBoosting/GradientBoosting.zip
  examples/data/hmeqModels/GradientBoosting/ModelProperties.json
  examples/data/hmeqModels/GradientBoosting/dmcas_fitstat.json
  examples/data/hmeqModels/GradientBoosting/dmcas_lift.json
  examples/data/hmeqModels/GradientBoosting/dmcas_misc.json
  examples/data/hmeqModels/GradientBoosting/dmcas_relativeimportance.json
  examples/data/hmeqModels/GradientBoosting/dmcas_roc.json
  examples/data/hmeqModels/GradientBoosting/score_GradientBoosting.py
  examples/data/hmeqModels/RandomForest/ModelProperties.json
  examples/data/hmeqModels/RandomForest/RandomForest.pickle
  examples/data/hmeqModels/RandomForest/RandomForest.zip
  examples/data/hmeqModels/RandomForest/dmcas_fitstat.json
  examples/data/hmeqModels/RandomForest/dmcas_lift.json
  examples/data/hmeqModels/RandomForest/dmcas_misc.json
  examples/data/hmeqModels/RandomForest/dmcas_relativeimportance.json
  examples/data/hmeqModels/RandomForest/dmcas_roc.json
  examples/data/hmeqModels/RandomForest/score_RandomForest.py
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_regression_model_import.ipynb
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_executions.py
Due: services, core

Reformatting
  src/sasctl/_services/model_repository.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_execution.py
  tests/unit/test_score_executions.py
Due: services, core

Adding fail cases for get_table and upload_file
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
Due: services, core

Reformatting with black version 24.4.2
  src/sasctl/_services/model_repository.py
Due: services, core

First version of all test cases for score definition
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

Adding new notebook for Azure Open AI example
  examples/register_Azure_Open_AI_REST_Call.ipynb
Due: none

Edited examples README.md file.
  examples/README.md
Due: none

GitHub test changes
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

change numpy to be less than version 2.0.0 in tox tests
  tox.ini
Due: none

Update register_Azure_Open_AI_REST_Call.ipynb
  examples/register_Azure_Open_AI_REST_Call.ipynb
Due: none

update GitHub scoring to allow for compatibility with swat
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

fix formatting error in build-test-deploy.yml
  .github/workflows/build-test-deploy.yml
Due: none

Updated xgboost version in tox.ini file
  tox.ini
Due: none

updated unit tests to align with code changes
  tests/unit/test_write_json_files.py
Due: none

further changes to github testing
  .github/workflows/build-test-deploy.yml
Due: none

scikit-learn version less than 1.5.0 for python versions that do not support 1.5.0
  tox.ini
Due: none

updated casing in model properties so they are correctly read
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

pinned scikit-learn to 1.5.0 for tox testing
  tox.ini
Due: none

Skipping this file for build
  tests/unit/test_score_execution.py
Due: none

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

Edited new Azure OpenAI GPT model example.
  examples/README.md
  examples/register_Azure_OpenAI_model_using_REST_calls.ipynb
Due: none

changed scikit-learn to less than 1.5.0 in tox.ini
  tox.ini
Due: none

Updating files for testing
  src/sasctl/_services/score_execution.py
  tests/unit/test_score_definitions.py
  tests/unit/test_score_execution.py
Due: services, core

remove tests for python 3.6 and 3.7 to allow for compatibility with xgboost version 1.7.3
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

more changes to github testing
  .github/workflows/build-test-deploy.yml
Due: none

Update README.md
  examples/README.md
Due: none

change to conftest.py to try to fix issues with GitHub actions
  tests/conftest.py
Due: none
