Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

Update write_score_code to include example outputs of each section that writes to file.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

began process of making batch-friendly score code
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

binary targets updated for batch scoring
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

completed adding batch scoring support to all return combinations
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

updated score code + example code blocks
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Updates to score code testing; executing snippets
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Added unit tests for batch scoring in score code
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Updated text examples of score code
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Updated casing on model and project function in kpi example
  examples/pzmm_custom_kpi_model_parameters.ipynb
Due: none

Added unit testing for write_score_code.py, tasks.py, and model_parameters.py
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/tasks.py
  tests/unit/test_model_parameters.py
  tests/unit/test_tasks.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Added a few more tests for assess_bias and also some slight optimizations
  src/sasctl/pzmm/write_json_files.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

black formatting
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  tests/conftest.py
  tests/unit/test_model_parameters.py
  tests/unit/test_tasks.py
  tests/unit/test_write_json_files.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

attempting to fix import model integration tests
  tests/integration/test_import_model.py
Due: none

continued attempts to fix import model integration tests
  tests/integration/test_import_model.py
Due: none

changed zip_model.py to help allow models in dict form to be zipped
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

Handle model publish link references without `cls`
  src/sasctl/_services/model_publish.py
Due: services, core

Fix missing return character for `impute_missing_values` function
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Increase sklearn model max_iter to 10000 to allow convergence in new versions of scikit-learn
  tests/integration/test_pymas.py
  tests/integration/test_tasks.py
Due: none

Black reformatting
  tests/integration/test_pymas.py
  tests/integration/test_tasks.py
Due: none

Black reformatting & integration cassette updates
  examples/register_scikit_classification_model.py
  src/sasctl/tasks.py
  tests/integration/cassettes/test_full_pipelines.TestSklearnClassificationModel.test_create_cas_destination.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnClassificationModel.test_publish_cas.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnClassificationModel.test_register_model.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_create_cas_destination.viya_202209.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_create_cas_destination.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_publish_cas.viya_202209.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_publish_cas.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_register_model.viya_202209.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_register_model.viya_35.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_score_cas.viya_202209.lzma
  tests/integration/cassettes/test_full_pipelines.TestSklearnRegressionModel.test_score_cas.viya_202209.swat.lzma
  tests/integration/cassettes/test_import_model.test_import_model.viya_202209.lzma
  tests/integration/cassettes/test_import_model.test_import_model.viya_35.lzma
  tests/integration/test_full_pipelines.py
  tests/integration/test_import_model.py
  tests/integration/test_write_score_code.py
Due: core

changed imports in test_model_parameters.py to allow tests to work in GitHub
  tests/unit/test_model_parameters.py
Due: none

fixed unit test to reflect changes in tasks.py
  tests/unit/test_tasks.py
Due: none

black changes
  tests/unit/test_tasks.py
Due: none

Fix requirements.json test to use scikit-learn version available for pickle file
  tests/unit/test_write_json_files.py
Due: none

updated changelog
  CHANGELOG.md
Due: none

updated version in __init__.py
  src/sasctl/__init__.py
Due: core

Properly private the dev folder
  src/sasctl/pzmm/private/__init__.py
  src/sasctl/pzmm/private/creating_json.py
  src/sasctl/pzmm/private/data/clf_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/clf_json_files/maxDifferences.json
  src/sasctl/pzmm/private/data/example_assessBias_data_clf/gm_example_clf.csv
  src/sasctl/pzmm/private/data/example_assessBias_data_clf/md_example_clf.csv
  src/sasctl/pzmm/private/data/example_assessbias_data_reg/gm_example_reg.csv
  src/sasctl/pzmm/private/data/example_assessbias_data_reg/md_example_reg.csv
  src/sasctl/pzmm/private/data/hmeq.csv
  src/sasctl/pzmm/private/data/reg_json_files/groupMetrics.json
  src/sasctl/pzmm/private/data/reg_json_files/maxDifferences.json
  src/sasctl/pzmm/private/data/reg_scoredata.csv
  src/sasctl/pzmm/private/data/titanic.csv
  src/sasctl/pzmm/private/pzmm_binary_classification_assess_model_bias.py
  src/sasctl/pzmm/private/pzmm_regression_assess_model_bias.py
  src/sasctl/pzmm/private/template_files/clf_jsons/groupMetrics.json
  src/sasctl/pzmm/private/template_files/clf_jsons/maxDifferences.json
  src/sasctl/pzmm/private/testing_asses_model_bias_clf.py
  src/sasctl/pzmm/private/testing_assess_bias_multiclas.py
  src/sasctl/pzmm/private/testing_assess_model_bias_reg.py
  src/sasctl/pzmm/private/testing_json_function.py
Due: pzmm, core

Prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Prep for release
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Update manifest.in to include the assess model bias template files
  MANIFEST.in
Due: none

Deprecate older functions to generate dmcas_fitstat/ROC/Lift json files
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

use yaml to read MLFlowModel file
  src/sasctl/pzmm/mlflow_model.py
Due: pzmm, core

catch TypeError exception
  src/sasctl/pzmm/mlflow_model.py
Due: pzmm, core

Introduced option to specify target_index for score code
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Updated unit tests to correctly test score code changes
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Changed ordering of target values to match new score code in examples
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_h2o_model_import.ipynb
  examples/pzmm_tensorflow_keras_model_import.ipynb
Due: none

fix for issue #175
  doc/conf.py
  src/sasctl/_services/cas_management.py
  tox.ini
Due: services, core

clear most docstrings reference warnings
  doc/conf.py
  doc/index.rst
  src/sasctl/_services/cas_management.py
  src/sasctl/_services/concepts.py
  src/sasctl/_services/data_sources.py
  src/sasctl/_services/files.py
  src/sasctl/_services/folders.py
  src/sasctl/_services/microanalytic_score.py
  src/sasctl/_services/model_management.py
  src/sasctl/_services/model_repository.py
  src/sasctl/_services/sentiment_analysis.py
  src/sasctl/_services/service.py
  src/sasctl/_services/text_categorization.py
  src/sasctl/_services/text_parsing.py
  src/sasctl/core.py
  src/sasctl/pzmm/git_integration.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/mlflow_model.py
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/pzmm/zip_model.py
  src/sasctl/tasks.py
  src/sasctl/utils/astore.py
  src/sasctl/utils/pymas/core.py
  src/sasctl/utils/pymas/ds2.py
Due: services, pzmm, utils, core

update more docstrings
  doc/conf.py
  src/sasctl/_services/cas_management.py
  src/sasctl/_services/concepts.py
  src/sasctl/_services/files.py
  src/sasctl/_services/microanalytic_score.py
  src/sasctl/_services/model_management.py
  src/sasctl/_services/model_publish.py
  src/sasctl/_services/model_repository.py
  src/sasctl/_services/saslogon.py
  src/sasctl/_services/sentiment_analysis.py
  src/sasctl/_services/text_categorization.py
  src/sasctl/_services/text_parsing.py
  src/sasctl/core.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/mlflow_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/pzmm/zip_model.py
  src/sasctl/tasks.py
  src/sasctl/utils/astore.py
  src/sasctl/utils/pymas/core.py
  src/sasctl/utils/pymas/ds2.py
  src/sasctl/utils/pymas/python.py
Due: services, pzmm, utils, core
