Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

codecov.yml:

codecov:
  notify:
    wait_for_ci: True

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "header, diff, flags, components"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 90%
  individual_components:
    - component_id: module_services
      name: services
      paths:
        - ./src/sasctl/_services/**
    - component_id: module_pzmm
      name: pzmm
      paths:
        - ./src/sasctl/pzmm/**
    - component_id: module_utils
      name: utils
      paths:
        - ./src/sasctl/utils/**
    - component_id: module_core
      name: core
      paths:
        - ./src/sasctl/

PEP8 adjustments for import_model.py
  src/sasctl/pzmm/__init__.py
  src/sasctl/pzmm/importModel.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/modelParameters.py
  src/sasctl/pzmm/zip_model.py
  src/sasctl/tasks.py
Due: pzmm, core

PEP8 adjustments for write_score_code.py
  src/sasctl/pzmm/__init__.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Include project version bug fix in changelog
  CHANGELOG.md
Due: none

Fixed spelling error.
  CHANGELOG.md
Due: none

Viya 3.5 cassettes for test_write_json_files
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_35.lzma
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_35.swat.lzma
Due: none

bugfix: handle bad JSON version info
  CHANGELOG.md
  src/sasctl/core.py
  tests/unit/test_session.py
Due: core

code formatting
  tests/unit/test_session.py
Due: none

Remove improper argument call to import_model_from_zip
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Include option for users to not write most pickle objects to file
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Missing doc and added TODO
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Rename + Update with model_parameters
  src/sasctl/pzmm/__init__.py
  src/sasctl/pzmm/model_parameters.py
  tests/unit/test_model_parameters.py
Due: pzmm, core

black formatting + updated tests
  src/sasctl/pzmm/model_parameters.py
  tests/unit/test_model_parameters.py
Due: pzmm, core

fix model parameters unit tests
  tests/unit/test_model_parameters.py
Due: none

unit tests working
  tests/integration/test_write_json_files.py
  tests/unit/test_model_parameters.py
Due: none

fixed broken import in model parameters integration test
  tests/integration/test_model_parameters.py
Due: none

First draft of write_score_code function refactor
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

write_json_files integration cassettes for Viya 4
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_202209.lzma
  tests/integration/cassettes/test_write_json_files.test_calculate_model_statistics.viya_202209.swat.lzma
Due: none

Black reformatting
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_score_code.py
  tests/integration/test_model_parameters.py
Due: pzmm, core

Docstring updates for write_score_code.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Initial unit test drafts for write_score_code.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Unit test updates for write_score_code.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

removed StringIO from model_parameters + more unit tests
  src/sasctl/pzmm/model_parameters.py
  tests/unit/test_model_parameters.py
Due: pzmm, core

Black reformatting
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Reformatting & fix for dataframe.replace calls for Python < 3.8 with Nones
  src/sasctl/pzmm/model_parameters.py
  tests/unit/test_model_parameters.py
Due: pzmm, core

Black reformatting with newest version of Black
  src/sasctl/core.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  src/sasctl/tasks.py
  src/sasctl/utils/cli.py
  src/sasctl/utils/pymas/core.py
  src/sasctl/utils/pymas/ds2.py
  tests/integration/test_cas_management.py
  tests/integration/test_files.py
  tests/unit/test_auth.py
  tests/unit/test_microanalytic_score.py
  tests/unit/test_model_management.py
  tests/unit/test_model_repository.py
  tests/unit/test_session.py
  tests/unit/test_workflow.py
Due: pzmm, utils, core

f-string replacement with `flynt`
  src/sasctl/pzmm/gitIntegration.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Refactor to handle passing files in memory to zip_model
  src/sasctl/pzmm/zip_model.py
Due: pzmm, core

Move model_file_name to kwargs
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

First draft of refactor for import_model.py
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

Apply isort to pzmm
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Fix unit test for zip_model
  tests/unit/test_zip_model.py
Due: none

Unit tests for import_model.py
  src/sasctl/pzmm/import_model.py
  tests/unit/test_import_model.py
Due: pzmm, core

Black reformatting
  tests/unit/test_import_model.py
  tests/unit/test_zip_model.py
Due: none

Fixed length of response logic in model_exists and update tests
  src/sasctl/pzmm/import_model.py
  tests/unit/test_import_model.py
Due: pzmm, core

Change metrics to less ambigious `output_variables`
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Add new TODOs and write_score_code exceptions
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Update import_model and write_score_code unit tests
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_import_model.py
  tests/unit/test_write_score_code.py
Due: pzmm, core

Check for and replace numpy types in score code
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

extract info from sklearn models
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info.py
Due: utils, core

Example in write_score_code docstring for model types
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core
