Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

adding docstring for output vars
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

adding docstring for output vars
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

adding score_wrapper comment
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

final pieces
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

hot fix, output:
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

pushing package import
  src/sasctl/pzmm/__init__.py
Due: pzmm, core

added dmcas_misc file generation capability
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

fixed formatting for misc json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Added changes to fitstat for classification models
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

changes to ensure all unit tests pass
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

changes to ensure all integration tests pass
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

black formatting for pzmm files
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

black formatting tests
  tests/unit/test_write_json_files.py
Due: none

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

prep for release (small error fixed)
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

pushing return changes
  src/sasctl/pzmm/write_score_wrapper.py
Due: pzmm, core

score wrapper adjustment
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

import model changing viya4 flag
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

hot fix setting scoreWrapper check to true
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

hotfix
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

hot fix
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

fixing output for score wrapper
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

updated examples to use current versions of functions
  examples/pzmm_complete_model_example_MLFlow_sklearn.ipynb
  examples/pzmm_tensorflow_keras_model_import.ipynb
  examples/register_pytorch_comp_vision.ipynb
Due: none

changing flag to viya4
  src/sasctl/pzmm/import_model.py
Due: pzmm, core

fixed small error in dmcas_misc.json
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

test_write_score_wrapper.py
  tests/unit/test_write_score_wrapper.py
Due: none

hot fix
  tests/unit/test_write_score_wrapper.py
Due: none

added missing dmcas_misc.json file
  src/sasctl/pzmm/template_files/dmcas_misc.json
Due: pzmm, core

testing test update
  .github/workflows/build-test-deploy.yml
Due: none

more updates to testing
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

black reformatting
  src/sasctl/_services/model_repository.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/pzmm/write_score_code.py
  tests/unit/test_write_json_files.py
Due: services, pzmm, core

black reformatting
  src/sasctl/_services/model_repository.py
Due: services, core

GitHub test changes
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

Updated xgboost version in tox.ini file
  tox.ini
Due: none

remove tests for python 3.6 and 3.7 to allow for compatibility with xgboost version 1.7.3
  .github/workflows/build-test-deploy.yml
  tox.ini
Due: none

fix formatting error in build-test-deploy.yml
  .github/workflows/build-test-deploy.yml
Due: none

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
