Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

Black reformatting
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Check all dictionaries for numpy values with the NpEncoder
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Don't overwrite user defined model_function
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Float NaN values are invalid for json encoding; replace with None object
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

h2o models no longer require creating a zip file in SAS Model Manager
  src/sasctl/pzmm/import_model.py
  src/sasctl/pzmm/pickle_model.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Include json encoder to swap out numpy types for their Python counterparts. #159
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Black reformatting
  src/sasctl/pzmm/pickle_model.py
  tests/unit/test_pickle_model.py
  tests/unit/test_write_json_files.py
Due: pzmm, core

Set h2o package as optional for non-h2o package users.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Annotate and reorder pickle_trained_model; trained_model is optional for mlflow models.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Update write_json_files test cases.
  tests/unit/test_write_json_files.py
Due: none

Adjust h2o model handling to use the h2o functions to save a binary or mojo model.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Update pickle_model test cases.
  tests/unit/test_pickle_model.py
Due: none

Black reformatting
  tests/unit/test_misc_utils.py
Due: none

Update examples to match pickle_trained_model h2o model handling. Update model assets in examples/data folder.
  examples/data/hmeqModels/H2OBinaryGLM/glmFit.pickle
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_binary.zip
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_mojo.zip
  examples/data/hmeqModels/H2OMOJOGLM/fileMetadata.json
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.mojo
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.zip
  examples/data/hmeqModels/H2OMOJOGLM/glmfit_mojo.zip
  examples/data/hmeqModels/H2OMOJOGLM/score_glmfit_mojo.py
  examples/pzmm_binary_classification_model_import.ipynb
  examples/pzmm_h2o_model_import.ipynb
  examples/pzmm_mlflow_model_import.ipynb
  examples/pzmm_regression_model_import.ipynb
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Write directions for tf example
  examples/pzmm_tensorflow_keras_model_import.ipynb
Due: none

Fix examples based on code review.
  examples/pzmm_h2o_model_import.ipynb
Due: none

Fix erroneous comment.
  src/sasctl/pzmm/pickle_model.py
Due: pzmm, core

Isort and Black reformatting
  src/sasctl/pzmm/pickle_model.py
  tests/unit/test_misc_utils.py
  tests/unit/test_pickle_model.py
Due: pzmm, core

model_paramters edited to include tensorflow keras
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

Fix improper JSON encoding for pzmm_h2o_model_import.ipynb.
  examples/pzmm_h2o_model_import.ipynb
Due: none

xgboost parameter update
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Add recursive folder creation and example
  examples/upload_file.py
  src/sasctl/_services/folders.py
Due: services, core

Corrections based on deepsource
  examples/upload_file.py
  src/sasctl/_services/folders.py
Due: services, core

New corrections based on deepsource second run
  examples/upload_file.py
  src/sasctl/_services/folders.py
Due: services, core

Correct typo in upload_file.py
  examples/upload_file.py
Due: none

Update Folders documentation missing parameters
  src/sasctl/_services/folders.py
Due: services, core

Change method name to create_path Update code to be recursive
  examples/upload_file.py
  src/sasctl/_services/folders.py
Due: services, core

Updates based on comments
  examples/upload_file.py
  src/sasctl/_services/folders.py
Due: services, core

Remove HTTPError import from folders.py
  .gitignore
  src/sasctl/_services/folders.py
Due: services, core

Corrections based on comments
  src/sasctl/_services/folders.py
Due: services, core

Update folders service based on latest comments
  src/sasctl/_services/folders.py
Due: services, core

added folders.create_path
  .gitignore
  examples/upload_file.py
  src/sasctl/_services/folders.py
Due: services, core

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
