Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

remove error message check
  tests/unit/test_code_file.py
Due: none

linting
  tests/unit/test_code_file.py
Due: none

test debug
  src/sasctl/utils/misc.py
  tests/unit/test_misc_utils.py
Due: utils, core

edits for new Jupyter notebook and updated code files (2026.03)
  examples/pzmm_id_code_file_example.ipynb
  src/sasctl/_services/files.py
  src/sasctl/_services/model_repository.py
  src/sasctl/pzmm/code_file.py
  src/sasctl/pzmm/write_json_files.py
  src/sasctl/utils/misc.py
Due: services, pzmm, utils, core

chore: linting
  src/sasctl/utils/misc.py
  tests/unit/test_misc_utils.py
Due: utils, core

feat: implemented the updated validation, added tests and examples
  CHANGELOG.md
  examples/pzmm_id_code_file_example.ipynb
  src/sasctl/pzmm/code_file.py
  tests/unit/test_code_file.py
Due: pzmm, core

chore: linting
  src/sasctl/pzmm/code_file.py
  tests/unit/test_code_file.py
Due: pzmm, core

chore: add setuptools to tox dependancies
  tox.ini
Due: none

chore: fix comment
  src/sasctl/utils/misc.py
Due: utils, core

chore: linting
  src/sasctl/pzmm/code_file.py
Due: pzmm, core

chore: update changelog & remove comment
  CHANGELOG.md
  tests/unit/test_misc_utils.py
Due: none

deploy: c3dea3c068b2ac19d156e0b1502af8a98b458c4e
  _modules/sasctl/pzmm/write_score_code.html
Due: none

update package version
  src/sasctl/__init__.py
Due: core

narrow pandas versions that set_options is used in
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

prep for release
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

docs: update contributor agreement
  ContributorAgreement.txt
Due: none

update preprocess function to accommodate single row scoring
  examples/pzmm_generate_complete_model_card.ipynb
Due: none

testing just added a space
  CHANGELOG.md
Due: none

fix: SklearnModelInfo.target_values returns both classes for binary classifiers
  src/sasctl/utils/model_info.py
  tests/unit/test_model_info_sklearn.py
Due: utils, core

update files to no longer depend on deprecated distutils package
  src/sasctl/_services/score_execution.py
  src/sasctl/pzmm/model_parameters.py
  src/sasctl/tasks.py
Due: services, pzmm, core

updated scoring execution/definition to handle input mapping
  examples/score_testing_example.ipynb
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  src/sasctl/tasks.py
Due: services, core

changed case_gateway=true
  examples/score_testing_example.ipynb
Due: none

black reformatting
  src/sasctl/_services/score_definitions.py
  src/sasctl/tasks.py
Due: services, core

Change default testing versions to mirror currently supported python versions
  tox.ini
Due: none

more testing version updates
  .github/workflows/build-test-deploy.yml
Due: none

remove upper bounds on python imports for testing environments
  .github/workflows/build-test-deploy.yml
Due: none

add libomp to test xgboost in macos testing envs
  .github/workflows/build-test-deploy.yml
Due: none

fix more tests
  tests/unit/test_model_parameters.py
  tests/unit/test_write_json_files.py
  tests/unit/test_write_score_code.py
Due: none

black reformatting + import organization
  tests/unit/test_model_parameters.py
Due: none

more unit test updating
  tests/conftest.py
  tests/integration/test_model_parameters.py
  tests/integration/test_pymas.py
  tests/integration/test_tasks.py
Due: none

str instead of string
  tests/unit/test_write_score_code.py
Due: none

updated docstrings for scoring functions
  src/sasctl/_services/score_definitions.py
  src/sasctl/_services/score_execution.py
  src/sasctl/tasks.py
Due: services, core

unit tests for score_definitions.py and variable name change
  src/sasctl/_services/score_definitions.py
  tests/unit/test_score_definitions.py
Due: services, core

black reformatting
  tests/unit/test_score_definitions.py
Due: none

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
