Repository sassoftware/python-sasctl: changes, and which Codecov flags are due for each by the changed paths.
All: services, pzmm, utils, core

testing & formatting
  src/sasctl/_services/folders.py
  tests/unit/test_folders.py
Due: services, core

formatting
  src/sasctl/_services/folders.py
Due: services, core

Properly adjust h2o handling for Viya 3.5. #166
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Set urllib3 dependency for tests at < v2.0.0
  tox.ini
Due: none

project properties now automatically set using tasks.py
  src/sasctl/pzmm/import_model.py
  src/sasctl/tasks.py
Due: pzmm, core

allows for model property overwrites in sync_project_properties
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Score code now generates in tensorflow keras example
  examples/pzmm_tensorflow_keras_model_import.ipynb
Due: none

Set pandas dependency >=0.24.0 to include change for df.tolist -> df.to_list alias.
  setup.py
Due: none

Fix for indentation error between model load statement and data imputation statement.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Remove unneeded bracket enclosure within h2o scoring statement.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Include float checks on h2o score outputs that are supposed to be numeric in type.
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Add in an example notebook for migrating models from SAS Viya 3.5 to SAS Viya 4.
  examples/data/ModelMigration/DecisionTreeClassifier.zip
  examples/viya35_to_viya4_model_migration.ipynb
Due: none

Black reformatting
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

changed get_metadata to get_config in tensorflow hyperparamters to avoid typing issues
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

Unit test updates
  tests/unit/test_write_score_code.py
Due: none

Update model migration example to create a project if none exists on the target server.
  examples/viya35_to_viya4_model_migration.ipynb
Due: none

Prep for release.
  CHANGELOG.md
  src/sasctl/__init__.py
Due: core

Properly dump json files in to the dmcas_fitstat.json, dmcas_roc.json, dmcas_lift.json files in `calculate_model_statistics`, instead of just in the dict return. #167
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Properly fix column_types for h2o score code (too many curly brackets).
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

added h2o hyperparameter tracking
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

beginning implementation of statsmodels "hyperparameters"
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

fixed issue causing certain model types to not work with add_hyperparameters
  src/sasctl/pzmm/model_parameters.py
Due: pzmm, core

update filter for create_custom_kpi
  src/sasctl/_services/model_management.py
Due: services, core

Added initial parameters and ImportError statement
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

implemented basic classification and regression uses
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Implemented need to reformat score table for classification model (only includes one prediction variable instead of one for each class)
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

added case where user has multiple sensitive variables
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

minor change
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

adding private testing files
  src/sasctl/pzmm/private/testing.py
  src/sasctl/pzmm/private/testing_clf.py
Due: pzmm, core

Fix improper row assignment for Lift charts as noted by #169
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Black reformatting
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

working on groupMetrics.json
  src/sasctl/pzmm/private/data/clf_scoredata.csv
  src/sasctl/pzmm/private/data/reg_scoredata.csv
  src/sasctl/pzmm/private/data/titanic.csv
  src/sasctl/pzmm/private/testing_cms.py
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Update H2O logic for score code since H2O doesn't handle Path objects. Update the example files as well.
  examples/data/hmeqModels/H2OBinaryGLM/glmFit.pickle
  examples/data/hmeqModels/H2OBinaryGLM/glmfit_binary.zip
  examples/data/hmeqModels/H2OBinaryGLM/inputVar.json
  examples/data/hmeqModels/H2OBinaryGLM/score_glmfit_binary.py
  examples/data/hmeqModels/H2OMOJOGLM/glmfit.mojo
  examples/data/hmeqModels/H2OMOJOGLM/glmfit_mojo.zip
  examples/data/hmeqModels/H2OMOJOGLM/inputVar.json
  examples/data/hmeqModels/H2OMOJOGLM/score_glmfit_mojo.py
  src/sasctl/pzmm/write_score_code.py
Due: pzmm, core

Fix issue where inputVar.json was using float values that are unreadable for SAS Model Manager on model import.
  src/sasctl/pzmm/write_json_files.py
Due: pzmm, core

Fixes AttributeError caused by running the list_models function in model_publish (#170)
  src/sasctl/_services/model_publish.py
Due: services, core

Refactor git_integration.py to follow PEP8 standards
  src/sasctl/pzmm/__init__.py
  src/sasctl/pzmm/gitIntegration.py
  src/sasctl/pzmm/git_integration.py
Due: pzmm, core

Add some unit tests for git_integration
  tests/unit/test_git_integration.py
Due: none

Update git integration example with new function calls
  examples/pzmm_git_integration_example.ipynb
Due: none

Path conditions:
  services: any of: src/sasctl/_services/**
  pzmm: any of: src/sasctl/pzmm/**
  utils: any of: src/sasctl/utils/**
  core: any of: src/sasctl/
